@import '~antd/dist/antd.dark.css';

:root {
  --black1-bg: #141414;
  --black2-bg: rgb(24, 26, 32);
  --yellow-font: rgb(240, 185, 11);
  --header-height: 64px;
  --footer-height: 48px;
  --space-md: 16px;
  --space-xs: 8px;
  --space-xxs: 4px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  background-color: var(--black2-bg);
}

html,
body,
#__next { height: 100%; }

* { box-sizing: border-box; }

.ant-notification {
  z-index: 10000 !important;
}