.flex-align-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.m-r-xxs {
  margin-right: var(--space-xxs);
}

.m-l-xxs {
  margin-left: var(--space-xxs);
}

.m-r-xs {
  margin-right: var(--space-xs);
}

.m-l-xs {
  margin-left: var(--space-xs);
}

.full-width {
  width: 100%;
}

.disable {
  pointer-events: none;
  opacity: 0.2;
  /* filter: blur(2px); */
}